<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />

    <title>@ViewData["Title"] - WebShop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">

    <!-- font-awesome CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <!-- animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

    <!-- slick CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">

    <!--magnific-popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <!-- google font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body>
    <header class="header drank">
        <div class="topbar">
            <div class="container top-bar">
                <div class="top-bar__left">
                    WELCOME TO <a href="#">Punibor</a>
                </div>
                <div class="top-bar__right">
                    <div class="header-currency item-dropdown">
                        CURRENCY
                        <a href="#" class="top-bar__item">
                            USD
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="content-dropdown">
                            <li><a href="#"><span class="symbol">€</span>EUR</a></li>
                            <li class="active"><a href="#"><span class="symbol">$</span>USD</a></li>
                            <li><a href="#"><span class="symbol">£</span>GBP</a></li>
                        </ul>
                    </div>
                    <div class="header-account">
                        <a href="account.html">LOGIN</a>
                        OR
                        <a href="account.html">REGISTER</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_container" style="background:url('@Url.Content("~/images/bg_header.jpg")') repeat">

            <!-- header-desktop -->
            @await Html.PartialAsync("_DesktopMenu");
            <!-- /header-desktop -->
            <!-- header-mobile -->
            @await Html.PartialAsync("_MobileMenu");
            <!-- /header-mobile -->
        </div>

        <div class="footer-mobile-bar">
            <ul class="columns-2">
                <li class="my-account">
                    <a class="my-accrount-footer" href="account.html">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="cart">
                    <a class="footer-cart-contents" href="cart.html" title="View your shopping cart">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span class="count">1</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- =====================================
    ==== Start breadcrumb -->
            <div class="breadcrumb section-bg" style="background-image:url('@Url.Content("~/images/bg_breadcrumb.jpg")')">
                <!-- container -->
                <div class="container">
                    <div class="row">
                        <div class="col col-md-12">
                            <h1>Account</h1>
                            <ol class="item-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /container -->
            </div>
            <!-- =====================================
        ==== End breadcrumb -->

            @RenderBody()
        </main>
    </div>

    <!-- =====================================
       ==== Start footer -->
        @await Html.PartialAsync("_Footer");
    <!-- =====================================
        ==== End footer -->
    <!-- back-to-top-->
    <div id="back-to-top"></div>
    <!-- back-to-top -->

    @RenderSection("Scripts", required: false)
</body>
</html>